.timeline{
    position: relative;
}
.timeline::after{
    content: "";
    width: 6px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: calc(50% - 3px);
    background-color: #003366;
}
.timeline-row{
    width: 50%;
    margin-top: 50px;
}
.timeline-row:nth-of-type(1){
    margin-top: 0px;
}
.timeline-row:nth-of-type(even){
    margin-left: auto;
}
.timeline-card{
    width: 90%;
    color: #fff;
    background-color: #003366;
    border-radius: 20px;
    padding: 20px;
    position: relative;
}
.timeline-row:nth-of-type(even) .timeline-card{
    margin-left: auto;
}
.timeline-row:nth-of-type(odd) .timeline-card::before{
    content: "";
    border-width: 15px 0px 15px 15px;
    border-style: solid;
    border-color: transparent transparent transparent #003366;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}
.timeline-row:nth-of-type(odd) .timeline-card::after{
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 5px solid #003366;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: calc(110% - 10px);
    transform: translateY(-50%);
}
.timeline-row:nth-of-type(even) .timeline-card::before{
    content: "";
    border-width: 15px 15px 15px 0px;
    border-style: solid;
    border-color: transparent #003366 transparent transparent;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
}
.timeline-row:nth-of-type(even) .timeline-card::after{
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 5px solid #003366;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 50%;
    right: calc(110% - 10px);
    transform: translateY(-50%);
}
.timeline-card-title{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
}
.timeline-card-subtitle{
    font-size: 18px;
    font-weight: 400;
}